.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body{
  text-align: center;
  background-color: #B2B6CC;
}

.anEvent{
  padding: 30px;
}



h1{
  font-family: fantasy;
  font-size: 50px;
}
